@meta charset="utf-8";

body{
   background-color: black;
}

.logar label{
    color: white;
    font-size: 1.5em;
}

.logar input{
   width: 30%;
   height: 40px;
   margin: 0 auto;
   font-size: 1.5em;
   color: blue;
}

.logar form{
    text-align: center;
    margin-top: 10%;
}

.logar button{
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    border: 2px solid orange;
    border-radius: 5px;
    margin-right: 8%;
    margin-top: 10px;
}

form a{
    color: white;
}
